@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Raleway", sans-serif;
	scroll-behavior: smooth;
	scrollbar-width: none;
}

@layer base {
	:root {
		--text: #050315;
		--background: #fbfbfe;
		--primary: #2f27ce;
		--secondary: #dedcff;
		--accent: #433bff;
	}
	.dark {
		--text: #ebe9fc;
		--background: #010104;
		--primary: #3a31d8;
		--secondary: #020024;
		--accent: #0600c2;
	}
}

,
.bg {
	background-color: theme("colors.bg");
	box-shadow: 0 0 0 100vmax theme("colors.bg");
	clip-path: inset(0 -100vmax);
}
